{:paths ["src" "resources" "dev"]
 :aliases
 {:repl/conjure
  {:extra-deps {nrepl/nrepl                     {:mvn/version "1.0.0"}
                cider/cider-nrepl               {:mvn/version "0.42.1"}}
   :main-opts  ["--main" "nrepl.cmdline"
                "--middleware" "[cider.nrepl/cider-middleware]"
                "--interactive"]}
  :repl/dev {:main-opts ["-e" "(require, 'dev)" "-e" "(in-ns, 'dev)" "-r"]}}
 :deps {org.clojure/data.priority-map   {:mvn/version "1.2.0"}
        org.clojure/clojure             {:mvn/version "1.12.0"}
        org.clj-commons/digest          {:mvn/version "1.4.100"}
        org.clojure/math.numeric-tower  {:mvn/version "0.0.5"}}}
